:root {
  background: #121212;
  color: white;
  font-family: "Inter", sans-serif;
}

.card {
  background: #181818;
  border-radius: 12px;
  max-width: 800px;
  padding: 24px;
}

.flex-card {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: center;
}

html, body, #app {
  height: 100%;
  margin: 0;
}

.text-field {
 font-family: inherit;
 width: 100%;
 border: 0;
 border-bottom: 2px solid #212224;
 outline: 0;
 font-size: 16px;
 padding: 7px 0;
 background: transparent;
 transition: border-color 0.2s;
 -webkit-touch-callout: none;
 -webkit-user-select: none;
 user-select: none;
 color: white;
}

.focused {
  border-bottom: 2px solid #0190ea;
}

.field-label {
  position: absolute;
  display: block;
  transition: 0.2s;
  font-size: 16px;
  color: #9b9b9b;
  top: 5px;
  &.active {
    top: -10px;
    font-size: 12px;
  }
}

.text-field:not(.placeholder-shown)::placeholder {
  color: transparent;
}

.text-field:focus + .form__label {
  color: #0190ea;
}

.hide-value {
  color: transparent;
}

.float-right {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.button {
  background: #0190ea33;
  border: none;
  border-radius: 4px;
  color: #0190ea;
  cursor: pointer;
  font-size: 20px;
  padding: 8px;
}
